@use "../../scss/index.scss" as *;

.projects {
  min-height: calc(100vh - 304px);
  color: $white;

  .container {
    width: 77.8%;
    max-width: 1110px;
    height: 100%;
    margin: auto;
    align-items: center;
    padding: 84px 0;
    text-align: center;

    .text {
      h2 {
        @include Heading-XL;
      }

      p {
        @include Body;
        max-width: 700px;
        margin: 36px auto;
      }
    }

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      .project {
        display: block;
        border: 2px solid $dark-grey;
        border-radius: 5px;
        padding: 10px;
        color: $white;
        overflow: hidden;

        img {
          display: block;
          max-width: 100%;
          height: calc(100% - 8rem);
          object-fit: cover;
          transition: 0.3s;
          transform: scale(0.9);
        }

        h3 {
          margin-top: 1rem;
          transition: 0.3s;
          color: $white;
          @include Heading-M;
        }

        .links {
          margin-top: 1rem;
          height: 4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            color: $white;
            padding: 5px;
            @include Link;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              border: none;
              @include Link;
            }
          }
        }

        &:hover {
          border-color: $green;

          img {
            border-radius: 10px;
            transform: scale(1);
          }

          h3 {
            color: $green;
          }
        }
      }
    }
  }
}

// tablet view

@media (max-width: 1420px) {
  .projects {
    margin-top: 9px;

    .container {
      width: 91.5%;
      padding: 35px 0;

      .text {
        h2 {
          font-size: 72px;
          line-height: 72px;
          letter-spacing: -2.05px;
        }
        p {
          margin: 60px auto;
        }
      }

      .projects-grid {
        gap: 2.5rem;
      }
    }
  }
}

// mobile view

@media (max-width: 1000px) {
  .projects {
    .container {
      padding: 15px 0;

      .text {
        h2 {
          font-size: 40px;
          line-height: 40px;
          letter-spacing: -1.14px;
        }

        p {
          margin: 40px auto;
        }
      }

      .projects-grid {
        grid-template-columns: repeat(1, minmax(150px, 600px));
        place-content: center;
        gap: 2rem;

        .project {
          h3 {
            font-size: 20px;
          }

          .links {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

// mobile view

@media (max-width: 351px) {
  .projects {
    .container {
      .text {
        h2 {
          font-size: 32px;
        }
      }

      .projects-grid {
        .project {
          h3 {
            font-size: 25.6px;
          }
        }
      }
    }
  }
}
