@use "../../scss/index.scss" as *;

.projects {
  min-height: calc(100vh - 304px);
  color: $white;

  .container {
    width: 77.8%;
    max-width: 1110px;
    height: 100%;
    margin: auto;
    align-items: center;
    padding: 84px 0;
    text-align: center;

    .text {
      h2 {
        @include Heading-XL;
      }

      p {
        @include Body;
        max-width: 700px;
        margin: 36px auto;
      }
    }

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      .project {
        display: block;
        border: 2px solid $dark-grey;
        // border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px;
        color: $white;
        transition: 0.3s transform;

        img {
          display: block;
          max-width: 100%;
          object-fit: cover;
        }

        h3 {
          margin-top: 1rem;
          transition: 0.3s;
          color: $white;
          @include Heading-M;
        }

        .links {
          height: 4rem;
          display: flex;
          justify-content: space-around;
          align-items: center;

          a {
            color: $white;
            // background-color: $black;
            border: 1px solid $green;
            border-radius: 5px;
            padding: 5px;
            @include Body;
            text-decoration: none;
            transition: 0.4s;

            &:hover {
              // background-color: $green;
              border: 1px solid $white;
              color: $green;
              font-weight: 900;
            }
          }
        }

        &:hover {
          transform: scale(1.1);
          border-color: $green;

          h3 {
            color: $green;
          }
        }
      }
    }
  }
}
