@use "../../scss/index.scss" as *;

header {
  height: 133px;
  background-color: $black;
  // // position: relative;
  // overflow: hidden;

  .container {
    width: 77.8%;
    max-width: 1110px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 4rem;
  padding: 4px;
  transition: 0.1s;
  border: 2px solid $green;
  border-radius: 5px;
  box-shadow: 1px 1px 34px 7px $green;
}

nav {
  .burger {
    display: none;
  }

  & > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    height: 38px;

    a {
      @include Link;
      border: none;

      &.active {
        border-bottom: 2px solid $green;
      }
    }
  }
}

// mobile view

@media (max-width: 1420px) {
  header {
    height: 124px;

    .container {
      width: 91.5%;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    width: 3.5rem;
  }

  nav {
    .burger {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid $green;
      border-radius: 5px;
      transition: 0.3s;

      svg {
        fill: $white;
        transition: 0.3s;
        width: 1.5rem;
        max-height: 100%;
      }

      & > ul {
        list-style: none;
        position: absolute;
        right: 0;
        background-color: $dark-grey;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
        top: -100vh;
        transition: 0.5s;

        a {
          @include Link;
          border: none;

          &:hover {
            border-bottom: 2px solid $green;
          }
        }

        &.open {
          opacity: 1;
          pointer-events: all;
          width: 100%;
          height: calc(100vh - 124px);
          top: 124px;
        }
      }

      &:hover {
        border-color: $white;

        svg {
          fill: $green;
        }
      }
    }

    & > ul {
      display: none;
    }
  }
}
