@use "../../scss/index.scss" as *;

.thanks {
  min-height: calc(100vh - 304px);
  color: $white;

  .container {
    width: 77.8%;
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding: 84px 0;
    text-align: center;

    h2 {
      @include Heading-L;
      margin-bottom: 3rem;
    }

    p {
      @include Body;
      max-width: 700px;
      margin: auto;

      &:nth-of-type(2) {
        margin: 1rem auto;
      }
    }
  }
}

//big tablet view
@media (max-width: 1420px) {
  .thanks {
    margin-top: 9px;

    .container {
      width: 91.5%;
      padding: 35px 0;

      p {
        margin: 60px auto;
      }
    }
  }
}

//tablet view
@media (max-width: 1000px) {
  .thanks {
    .container {
      h2 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
      }

      p {
        margin: 40px auto;
      }
    }
  }
}

//mobile view
@media (max-width: 351px) {
  .thanks {
    .container {
      h2 {
        font-size: 32px;
      }
    }
  }
}
