@use "./index.scss" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $black;
}

#root {
  min-height: 100vh;
}

.home {
  margin-top: 1rem;
  min-height: calc(100vh - 304px);
}
